<h1>Editing gamerprofile</h1>

<%= render "form", gamerprofile: @gamerprofile %>

<br>

<div>
  <%= link_to "Show this gamerprofile", @gamerprofile %> |
  <%= link_to "Back to gamerprofiles", gamerprofiles_path %>
</div>
