<p style="color: green"><%= notice %></p>

<h1>Gamerprofiles</h1>

<div id="gamerprofiles">
  <% @gamerprofiles.each do |gamerprofile| %>
    <%= render gamerprofile %>
    <p>
      <%= link_to "Show this gamerprofile", gamerprofile %>
    </p>
  <% end %>
</div>

<%= link_to "New gamerprofile", new_gamerprofile_path %>
