<div id="<%= dom_id library %>">
  <p>
    <strong>Game name:</strong>
    <%= library.game_name %>
  </p>

  <p>
    <strong>Game desc:</strong>
    <%= library.game_desc %>
  </p>

  <p>
    <strong>Gamer:</strong>
    <%= library.gamer_id %>
  </p>

</div>
