<p style="color: green"><%= notice %></p>

<h1>Game profiles</h1>

<div id="game_profiles">
  <% @game_profiles.each do |game_profile| %>
    <%= render game_profile %>
    <p>
      <%= link_to "Show this game profile", game_profile %>
    </p>
  <% end %>
</div>

<%= link_to "New game profile", new_game_profile_path %>
